In [2]:
import pandas as pd

test_y_df = pd.read_csv('../datasets/titanic_gender_submission.csv')
test_df = pd.read_csv('../datasets/titanic_test.csv')
train_df = pd.read_csv('../datasets/titanic_train.csv')

In [5]:
train_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
train = train_df[['Pclass', 'Sex', 'Age', 'Survived']]
test = test_df[['Pclass', 'Sex', 'Age']]
test_y = test_y_df['Survived']

In [12]:
train = train.dropna(axis=0)
train.isnull().sum()

Pclass      0
Sex         0
Age         0
Survived    0
dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
train['Sex'] = encoder.fit_transform(train['Sex'])
train.head(3)

   Pclass  Sex   Age  Survived
0       3    1  22.0         0
1       1    0  38.0         1
2       3    0  26.0         1

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    714 non-null    int64
 1   Sex       714 non-null    int64
 2   Age       714 non-null    float64
 3   Survived  714 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 27.9 KB

In [16]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(train[['Age']])

data = scaler.transform(train[['Age']])

train['Age'] = data
train.head()

   Pclass  Sex       Age  Survived
0       3    1  0.271174         0
1       1    0  0.472229         1
2       3    0  0.321438         1
3       1    0  0.434531         1
4       3    1  0.434531         0

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
import numpy as np

In [25]:
dt = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42)
lr = LogisticRegression()

X = train.drop('Survived', axis=1)
y = train['Survived']

# result_dict = {
#     'dt' : [],
#     'rt' : [],
#     'lr' : [],
# }
result = {}

for i, j in enumerate([dt, rf, lr]):
    result[i] = np.mean(cross_val_score(j, X, y))

print(result)

for i in [dt, rf, lr]:
    result = np.mean(cross_val_score(i, X, y))
    print(i, " : ", result)

{0: 0.8081552250566336, 1: 0.8109425785482124, 2: 0.7843494533635379}
DecisionTreeClassifier(random_state=42)  :  0.8081552250566336
RandomForestClassifier(random_state=42)  :  0.8109425785482124
LogisticRegression()  :  0.7843494533635379

In [28]:
test['Survived'] = test_y_df['Survived']
test.dropna(axis=0, inplace=True)
test.head()

C:\Users\User\AppData\Local\Temp\ipykernel_15332\1440177962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Survived'] = test_y_df['Survived']
C:\Users\User\AppData\Local\Temp\ipykernel_15332\1440177962.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.dropna(axis=0, inplace=True)

   Pclass     Sex   Age  Survived
0       3    male  34.5         0
1       3  female  47.0         1
2       2    male  62.0         0
3       3    male  27.0         0
4       3  female  22.0         1

In [29]:
# from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
test['Sex'] = encoder.fit_transform(test['Sex'])

C:\Users\User\AppData\Local\Temp\ipykernel_15332\280431980.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Sex'] = encoder.fit_transform(test['Sex'])

In [30]:
# from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(test[['Age']])
data = scaler.transform(test[['Age']])

test['Age'] = data

C:\Users\User\AppData\Local\Temp\ipykernel_15332\2939275657.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Age'] = data

In [32]:
test.head(3)

   Pclass  Sex       Age  Survived
0       3    1  0.452723         0
1       3    0  0.617566         1
2       2    1  0.815377         0

In [34]:
# rf

X_test = test.drop('Survived', axis=1)

rf.fit(X, y)
pred = rf.predict(X_test)

# cross_val_score은 fit을 안함 
# fit을 해주는건 cross_validation

In [35]:
from sklearn.metrics import accuracy_score

accuracy_score(test['Survived'], pred)

0.8403614457831325

In [36]:
# dt

X_test = test.drop('Survived', axis=1)

dt.fit(X, y)
pred = dt.predict(X_test)

accuracy_score(test['Survived'], pred)

0.8192771084337349

In [37]:
# lr

X_test = test.drop('Survived', axis=1)

lr.fit(X, y)
pred = lr.predict(X_test)

accuracy_score(test['Survived'], pred)

# cross_val에서는 rf가 잘 나왔지만 실제론 lr가 잘 나온 이유는
# 성별 때문에 ?!

0.927710843373494